* {margin: 0;padding: 0;}
body {font-family: verdana,arial;font-size: 13px;color: #888;background: #222;}
canvas {margin: 10px 0;border: 1px solid #333;}
.demolist {background:#111;margin: 20px auto; width:auto;border: 1px dotted #666;padding:10px;border-radius: 5px;margin:10px;}
a {color:#aaa;text-decoration: none;display:block; padding:5px 10px;}
a:hover {color:#ffc;text-decoration: none;}
li {background: none;border-radius: 5px;}
li:hover {background:#333}
ul {list-style: none;}
h1 {font-size: 16px;padding:10px;}
.last {margin: 30px 0 0 0;}